
  <div id="search">
    <div class="container pup">
      <% if ! search.blank? %>
        <%=render :partial=> '/issues/search' %>
     <% end %>
    </div>
  </div>

<div class="container" id="wrapper">
    <div id="<%=left_column_id%>" class="span-<%=(columns-1)%> append-1">
      <% # errors here -%>
      <%= render_flash_messages %>
      <%= render :partial => quad_index %>
    </div>
    <% if ! quad_column.blank? %>
    <div id="<%=right_column_id%>" class="round span-<%=right_column%> last">
      <%# if local is not passed partial is ignored %>
      <%= render :partial => quad_column %>
    </div>
    <% end %>
</div>
