<h1>New issue</h1>

<% form_for( @issue, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :service_request %>
    <%= select(:issue,:service_request, @services.collect{|x|  [x.service_type, x.service_code] }, {:include_blank => ''})%>
  </p>
  <%= render :partial => "issues/new/custom_form.html.erb" %>
<%#= select(:prompt,:id, @attributes.collect{|x|  [x.prompt, x.id] })%>

  <%#= @attributes.collect{|x| x.prompt} %>
  <p>
    <%= f.label :severity %>
    <%= f.select :severity, ["non-emergency", "emergency"] %>
  </p>
  <p>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :picture %>
	<%= f.file_field :picture %>
  </p>
  <p>
	<input type="button" onclick="sendFeed()" value="Create"/>
  </p>
<% end %>

<%= link_to 'Back', issues_path %>

<script type="text/javascript">

function sendFeed() {
	//alert('word')
	FB.ensureInit(function() {
	var template_stuff = {"images":[{"src":"http://easy311.org/images/logo.gif", "href":"http://easy311.org"}]}; 
		
	var body_general = "This should be a description of the issue... "
	var user_message_prompt = "Lets make DC a better place to live!";
	var x = FB.Connect.showFeedDialog(91456281023, template_stuff, null, body_general, null, FB.RequireConnect.require, sendIssue());
	});
}

function sendIssue() {
	//alert('sending issue')
	//document.forms[0].submit()	
}
</script>