<h1>New issue</h1>

<% form_for(@issue) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Type" %>
    <%= select(:type,:id, @services.collect{|x|  [x.service_type, x.id] } )%>
  </p>
  <p>
    <%= f.label "Type" %>
    <%= select(:prompt,:id, @attributes.collect{|x|  [x.prompt, x.id] })%>
  </p>
  <p>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', issues_path %>