<div class="issue">
  <div class="tally span-3" >
    <label><%= @issue.votes.count %></label>
    <span>Agree</span>
  </div>
  <div class="span-18">
    <h3><%= @issue.title %></h3>
  <p id="description" rel="<%= @issue.picture.url(:small) %>">
    <%=h @issue.description %>
  </p>
	<%= image_tag(@issue.picture.url(:small)) %>	
  </div>
</div>

<div id="new_comment">
<h2>Add a comment:</h2>

<% form_for(@comment) do |f| %>  
  <%= f.hidden_field :issue_id %>
  <%= f.label :author, 'Your Name' %>
  <%= f.text_field :author %>
  <%= f.label :body, 'Body' %>
  <%= f.text_area :body, :cols => 30, :rows => 5 %><br/>
  <%= submit_tag 'Add Comment' %> or <input type="button" id="fb_send" value="Publish to Facebook"/>
<% end %>
</div>

<br/>

<div id="comments">
  <% @comments.each do |comment| %>
    <div class="comment">
      <p>
        <strong><%=h comment.author %></strong> said:<br/>
        <%=h comment.body %>
      </p>
    </div>
  <% end %>
</div>

