<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>      
    <title>DC 311</title>

    <%= sprockets_include_tag %>
    <%= stylesheet_link_tag 'stylesheet' %>
  	<%= javascript_include_tag "service_types" %>
  	<%= stylesheet_link_tag "jquery.autocomplete" %>

  </head>
  
  <body>
    <%= render :partial => 'layouts/header' %>
    <% if RAILS_ENV=='development' %><div id="grid"></div><% end %>

          <%= yield %>

    <%= render :partial => 'layouts/footer' %>
  </body>
</html>
